<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ICRAT Conference year </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <div id="watermark">
   

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                 <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Registration   </a>
                    </li>
                    <li>
                        <a href="#">Call For Papers</a>
                    </li>
                    <li>
                        <a href="#">Hotel Accomidations & Guide</a>
                    </li>
                   
                  <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conference <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Conference Program</a>
                            </li>
                            <li>
                                <a href="#">Conference Committee</a>
                            </li>
                           
                    
</ul>

                     <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <img src="images/ICRAT_2016__Header_12_2015-01.png" class="img-responsive" />
                  <!-- Optional Tagline  <h1 class="tagline">USA/Europe Air Traffic Management Research and Development Seminars</h1> -->
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        

        <div class="row">
            <div class="col-sm-6">
                <h2>ICRAT 2016 - June 20-24th, 2016</h2>
                <p>The next ICRAT will be held the week of June 20, 2016 at Drexel University in Philadelphia, Pennsylvania. </p>
                <p>ICRAT 2016 was located at Drexel University. Some more stuff... Check out the gallery of event pictures as well as the other cool stuff that we were able to accomplish this year!</p>
                
                <p>There have so far been ten USA-Europe ATM R&D Seminars and the resulting archive of approximately 750 peer-reviewed papers and presentations, available through this web site, represents one of the most valuable and widely-used records of ATM research available.</p>
                
                <p>Air Traffic Management (ATM) is defined in the ICAO ATM Global Concept document as "the dynamic, integrated management of air traffic and airspace - safely, economically, and efficiently - through the provision of facilities and seamless services in collaboration with all parties". ATM therefore encompasses airspace organization and management, flow and capacity management and en-route, terminal and airport air traffic control.</p>
                
                <hr/>
                 <p>
                    <a class="btn btn-default btn-lg" href="#">Click here for Upcoming Seminar information &raquo;</a>
                </p>
                
               
                
                <p>
                    <br/>
                    
          <img src="images/sponsor-banner-small.png" class="img-responsive" />
                </p>
            </div>
            <div class="col-sm-6">
             
                
                 <h3>Gallery</h3>
                
                <div class="row">

           
                
            </div>

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="http://placehold.it/400x300" alt="">
                </a>
            </div>
     <!-- <div class="col-lg-6">   </div> -->

                
                
              
              
                   <h3>Related Links</h3>
                <ul>
                    <li><a href="#">Submit your Papers</a></li>
                     <li><a href="#">Contact us regarding this event</a></li>
                     <li><a href="#">Program Information & Schedule</a></li>
                     <li><a href="#">Conference Committee</a></li>
                     <li><a href="#">Contact Us</a></li>
                     <li><a href="#">Drexel Partner Website</a></li>
                    <li><a href="#">FAA Partner Website</a></li>
                     <li><a href="#">Euro Control Partner Website</a></li>
                    
                    
                    
                    
                     
                
                </ul>
                
             
               
                <!--
                <address>
                    <strong>Start Bootstrap</strong>
                    <br>3481 Melrose Place
                    <br>Beverly Hills, CA 90210
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(123) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                </address>

-->
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- This stuff is just an extra 3 column option at the bottom
        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/300x300" alt="">
                <h2>Marketing Box #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>

-->
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; ATM Seminar 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    </div>
</body>

</html>
