{% block preamble %}{% endblock %}
<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>

{% block body %}{% endblock %}


<!--fieldset>
        <h3>2022 ICRAT Sponsors</h3>

        <a href="https://www.faa.gov"><img src="{{'/static/images/faa_logo_seal.svg'|url}}" class=img-responsive" width="150" height="150"/></a>
        <a href="https://www.eurocontrol.int"><img src="{{'/static/images/eurocontrol_logo.svg'|url}}" style="margin-top:5px; margin-bottom:5px;" class=img-responsive" width="150" height="150"/></a>
        <a href="https://www.usf.edu/research-innovation/"><img src="{{'/static/images/2022/usf_ri_small.png'|url}}" style="margin-top:5px; margin-bottom:5px;" class=img-responsive"/></a><br/>
        <a href="https://www.tampaairport.com/"><img src="{{'/static/images/2022/tia_ga_logo_medium.jpg'|url}}" widclass="img-responsive"/></a>
        <a href="https://www.cutr.usf.edu"><img src="{{'/static/images/2022/cutr-circle-with-text-small.jpg'|url}}" widclass="img-responsive"/></a>

</fieldset -->

{% include 'footer.html' %}


</body>

</html>
