{% extends "layout.html" %}
{% set all_papers_attach=paper_csv(this.attachments, organized=True) %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}

{% include 'navigation.html' %}

{% include "breadcrumb.html" %}

  <h1 class="text-center mb-5">{{ this.title }}</h1>
  
  {{this.body}}


  <section class="container mb-lg-4 py-5">
  <div><p>
      <img src="{{'/static/img/google_drive_icon.svg'|url}}" width="40" height="40" class="img-responsive"/>Note: All seminar content is provided on Google Drive. <br/>
      If you have any issues accessing these files, please ensure you are able to first access Google Drive.
      </p>
  </div>
  </section>

{% for pidx, paper_data in enumerate(all_papers_attach) %}
{% set primary_alternate = ((pidx % 2) == 0) %}
{% set papers_attach = paper_data.table_data %}

{% if paper_data.is_organized %}

    <div class="{% if primary_alternate %} bg-secondary {%endif%}">
    <section class="container mb-lg-4 py-5">
        <h2 class="text-center">{{paper_data.table_title}}</h2>

          <h3><i class="bx bx-trophy text-primary fw-normal"></i> Best Paper</h3>

        {% set unique_colors = get_unique_colors(len(paper_data.table_data)) %}
        {% for idx, papers in enumerate(paper_data.table_data.items()) %}
        {% set paper_category, paper_table_data = papers %}
        <!-- Category -->
        <article class="mb-5 pt-5">

            <header class="mb-4">
                <span class="badge bg-info shadow-info fs-base fw-normal" 
                      style="background-color: {{unique_colors[idx]}} !important; box-shadow: 0 .5rem 1.125rem -0.5rem {{unique_colors[idx]}} !important">
                    {{paper_category}}
                </span>
            </header>

            {% include 'paper_table_data.html' %}
        </article>
        {% endfor %}

    </section>
    </div>
{% else %}

    <div class="{% if primary_alternate %} bg-secondary {%endif%}">
        <section class="container mb-lg-4 py-5">
            <h2 class="text-center">{{paper_data.table_title}}</h2>
            <article class="mb-5 pt-5">
                {% set paper_table_data = paper_data.table_data %}
                {% include 'paper_table_data.html' %}

            </article>
        </section>
    </div>

{% endif %}

{% endfor%}


{% endblock %}
