
            <ul class="list-unstyled mb-0">


              {% for idx, row in enumerate(paper_table_data) %}
                <!-- Item -->
                <li class="mb-5">
                    <h3 class="h4 mb-2">
                        {% if row['best'] and row['best'] == '*' %}<i class="bx bx-trophy text-primary fw-normal" {% if row['best'] and row['best'] == '**' %} style="font-size: 3em !important;" {% endif %}></i> {% endif %}
                        {{row['title']}}
                    </h3>
                        <div class="border-end pe-3 me-3">
                            Author{% if ',' in row['authors'] %}s{%endif%}: <em>
                                {{row['authors']}} &nbsp;
                            </em><br/>
                            {% if 'journal' in row and row['journal'] %}
                            <em><strong>As published in <a href="{{paper_link}}">{{row['journal']}}</a></strong></em><br />
                            {% endif %}
                        </div>
                    <div class="d-flex align-items-center pt-1">
                        {% if 'abstracts_file' in row and row['abstracts_file'] %}
                        <a href="{{row['abstracts_file']|drive}}" target="_blank" class="btn btn-outline-primary btn-sm me-2 py-1"><i class="bx bx-edit fs-lg me-1"></i> Abstract</a>
                        {% endif %}
                        {% if 'paper' in row and row['paper'] %}
                        <a href="{{row['paper']|drive}}" target="_blank" class="btn btn-outline-primary btn-sm me-2 py-1"><i class="bx bx-download fs-lg me-1"></i> Full Paper</a>
                        {% endif %}
                        {% if 'presentation' in row and row['presentation'] %}
                        <a href="{{row['presentation']}}" target="_blank" class="btn btn-outline-primary btn-sm py-1"><i class="bx bx-message-dots fs-lg me-1"></i> Presentation</a>
                        {% endif %}
                        {% if 'video' in row and row['video'] %}
                        <a href="{{row['video']}}" target="_blank" class="btn btn-outline-primary btn-sm py-1"><i class="bx bx-video fs-lg me-1"></i> Video </a>
                        {% endif %}
                    </div>
                </li>
              {% endfor %}

            </ul>
