{% extends "layout.html" %}
{% set all_papers_attach=paper_csv(this.attachments) %}
{% block title %}{{ this.title }}{% endblock %}
{% block addhead %}

<script type="text/javascript" src="/static/js/jquery.js"></script>

<style>
h2.trigger {
	padding: 0 0 0 0px;
	margin: 0 0 5px 0;
	background: url() no-repeat;
	height: 46px;
	line-height: 46px;
	width: 400px;
	font-size: 13px;
	font-weight: bold;
	float: left; }
h2.trigger a {
	color: #00F;
	text-decoration: none;
}
h2.trigger a:hover { color: #ccc; }
h2.active {background-position: left bottom;} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/
.toggle_container {
	margin: 0 0 5px;
	padding: 0;
	border-top: 1px solid #d6d6d6;
	background: #f0f0f0 url() repeat-y left top;
	overflow: hidden;
	font-size: 14px;
	width: 100%;
	clear: both;
}
.toggle_container .block {
	padding: 20px; /*--Padding of Container--*/
	background: url() no-repeat left bottom; /*--Bottom rounded corners--*/
}
	.papers {border-collapse: collapse}
	.papers td{border-bottom:1px solid grey;}
	.papers td:first-child {border-right:1px solid grey;}
	.papers th{text-align:center; border-bottom:1px solid black; padding-bottom:10px}

	.papers td { padding:5px;  }
	.papers td img{margin:0px; padding:5px 0 0 0; }
</style>

<script>
$(document).ready(function(){

	//Hide (Collapse) the toggle containers on load
	$(".toggle_container").hide();

	//Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
	$("h2.trigger").click(function(){
		$(this).toggleClass("active").next().slideToggle("slow");
		return false; //Prevent the browser jump to the link anchor
	});

});
</script>

{% endblock %}
{% block body %}

  <h2>{{ this.title }}</h2>
  
  {{this.body}}


<div class="col-sm-12">

{% for paper_data in all_papers_attach %}
{% set papers_attach = paper_data.table_data %}
{% set has_abstracts_file=has_abstracts_file(papers_attach) %}
{% set has_papers=has_papers(papers_attach) %}
{% set has_presentations=has_presentations(papers_attach) %}
{% set has_videos=has_videos(papers_attach) %}
{% set has_best_papers=has_best(papers_attach) %}
{% set has_themes=has_themes(papers_attach) %}
<h3>{{paper_data.table_title}}</h3>
<table cellpadding="17" width="100%" class="table">
  <thead class="thead-inverse">
    <tr>
      <th></th>
      <th>Title</th>
      {% if has_abstracts_file %}<th>Abstract</th> {% endif %}
      {% if has_papers %}<th>Paper</th> {% endif %}
      {% if has_videos %}<th>Video</th> {% endif %}
      {% if has_presentations %}<th>Presentation</th> {% endif %}
      {% if has_themes %}<th>Theme</th> {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for idx, row in enumerate(papers_attach) %}
  {% set paper_link = row['paper'] if row['paper'].startswith('http') else "{}/papers/{}".format(this.content_url_prefix, row['paper']) %}
  <tr>
    <td>
    {%if row['best'] and row['best'].strip() == "*" %}
    <br/><img src="{{ '/static/images/best_paper.jpg'|url }}"/></td>
    {% endif %}
    <td>
        <strong>{{unicode(row['title'])}}</strong><br />
        {% if 'journal' in row and row['journal'] %}
        <em><strong>As published in <a href="{{paper_link}}">{{row['journal']}}</a></strong></em><br />
        {% endif %}
        Author{% if ',' in row['authors'] %}s{%endif%}: <em>
            {{row['authors']}} &nbsp;
             </em><br /> 
        {% if 'abstract' in row and row['abstract'] %}
        <h2 class="trigger"><a href="#">abstract</a></h2>
        <div class="toggle_container">
            <div class="block">
                <!--Content-->
               {{row['abstract']}}
            </div>
        </div>
        {% endif %}
    </td>

    {% if has_abstracts_file %}
    <td align="center">
        <a href="{{row['abstracts_file'] | drive}}" target="_blank"><img alt="pdf logo image" src="{{'/static/images/large_pdf.gif'|url}}" /></a>
    </td>
    {% endif %}

    {% if has_papers %}
    <td align="center">
        {% if row['paper'] %}
        <a href="{{row['paper'] | drive}}" target="_blank"><img alt="pdf logo image" src="{{'/static/images/large_pdf.gif'|url}}" /></a>
        {% else %}
        &nbsp;
        {% endif %}
    </td>
    {% endif %}

    {% if has_videos %}
    <td align="center">
            {%if row['video'] %}
            <a href="{{row['video']}}" target="_blank"><img src="{{ '/static/images/video_32_32.png'|url }}" /></a>
            {% else %}
            &nbsp;
            {% endif %}        
    </td>
    {% endif %}
    
    {% if has_presentations %}
    <td align="center">
        {%if row['presentation'] %}
        <a href="{{row['presentation'] | drive}}"><img src="{{'/static/images/large_pdf.gif'|url}}" /></a>
        {% else %} 
        &nbsp; 
        {% endif %}        
    </td>
    {% endif %}

    {% if has_themes %}
    <td>
        {% if row['track'] or row['theme'] %}
        {{row['track'] or row['theme']}}
        {% else %}
        &nbsp;
        {% endif %}
    </td>
    {% endif %}

  </tr>
  {% endfor %}
  </tbody>
</table>
{% endfor %}

{% if has_best %}<p><img src="{{ '/static/images/best_paper.jpg'|url }}"/> <em>This paper received the Best Paper Award within its theme.</em></p> {% endif %}

{{ this.after_table_content }}
</div>


{% endblock %}
