
<!-- Sponsors -->
{% if conference_year is not defined %}
    {% set conference_year = 'XXXX' %}
    {% set sponsors = [] %}
{% endif %}

{% set spon_vars = {'conf_year': conference_year, 'p': this} %}
{% for i in range(10) %}
  {% if spon_vars.p is none %}
    {% break %}
  {% endif %}

  {% if spon_vars.p.start_date %}
    {% if spon_vars.update({'conf_year': spon_vars.p.start_date.year|string}) %}{%endif%}
    {% break %}
  {% endif %}

  {% if spon_vars.update({'p': spon_vars.p.parent}) %}{%endif%}
{% endfor %}

{% set conference_year = spon_vars.conf_year %}

{% if conference_year != '' %}
{% set sponsors = sponsors_csv(year=conference_year) %}
{% endif %}

<div class="container pt-1 pt-md-2 pb-lg-2 pt-lg-4">
    <h2 class="h3 text-light text-center text-lg-start mb-4 mb-lg-5">IATR&D Symposium {% if conference_year != 'XXXX' %} {{ conference_year }} {% endif %} Sponsors:</h2>
    <div class="swiper ms-xxl-n5 me-xxl-n4" data-swiper-options='{
    "slidesPerView": 2,
    "spaceBetween": 24,
    "pagination": {
      "el": ".swiper-pagination",
      "clickable": true
    },
    "breakpoints": {
      "500": {
        "slidesPerView": 3
      },
      "650": {
        "slidesPerView": 4
      },
      "900": {
        "slidesPerView": 5
      },
      "1100": {
        "slidesPerView": 6
      }
    }
  }'>

        <div class="swiper-wrapper align-items-center">

            <!-- Item -->
            <div class="swiper-slide">
                <a href="https://eurocontrol.int">
                <img src="{{'/static/img/ec-mono-white.png' | url}}" class="d-block py-3 mx-auto" width="100" alt="EUROCONTROL">
                </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide">
                <a href="https://www.faa.gov/">
                <img src="{{'/static/img/faa.png' | url}}" class="d-block py-3 mx-auto" width="100" alt="Federal Aviation Administration">
                </a>
            </div>

            {% for sponsor in sponsors %}

            <!-- Item -->
            <div class="swiper-slide">
                <a href="{{sponsor['link']}}">
                <img src="{{('/static/' + sponsor['small_logo']) | url}}" class="d-block py-3 mx-auto" width="154" alt="{{sponsor.alt}}">
                </a>
            </div>

            {% endfor %}

        </div>

        <!-- Pagination (bullets) -->
        <div class="swiper-pagination dark-mode position-relative pt-2 mt-4"></div>
    </div>
</div>
